In [199]:
import pandas as pd

In [4]:
df_auc = pd.read_csv('check_selen.csv', index_col=0)

In [11]:
df_auc.iloc[0,0]

'Электронный аукцион                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Процедура завершена /                                                                                                                                                                                                                                                            44-ФЗ                                                                                                                                                                                                                                                                                                                                                                                                Начальная цена                                                                                1\xa0613\xa0000                                        ,00                                    Российский рубль'

In [13]:
df_auc['auc'] = ['Электронный аукцион' in i for i in df_auc.iloc[:,0]]

In [14]:
df_auc[df_auc['auc'] != True]

Empty DataFrame
Columns: [V1, V2, V3, auc]
Index: []

In [15]:
df_auc['zav'] = ['Процедура завершена' in i for i in df_auc.iloc[:,0]]

In [21]:
df_auc[df_auc['zav'] != True]

,V1,V2,V3,auc,zav
71,Электронный аукцион ...,№ 0119300026016000033 ...,Размещено: 29.12.2016 ...,True,False
80,Электронный аукцион ...,№ 0869200000216001863 ...,Размещено: 13.12.2016 ...,True,False
84,Электронный аукцион ...,№ 0332300152417000002 ...,Размещено: 03.02.2017 ...,True,False
86,Электронный аукцион ...,№ 0132300002817000002 ...,Размещено: 13.02.2017 ...,True,False
108,Электронный аукцион ...,№ 0144300004017000002 ...,Размещено: 26.01.2017 ...,True,False
...,...,...,...,...,...
2454,Электронный аукцион ...,№ 0573400000117000483 ...,Размещено: 31.05.2017 ...,True,False
2459,Электронный аукцион ...,№ 0358300238217000123 ...,Размещено: 13.06.2017 ...,True,False
2463,Электронный аукцион ...,№ 0373200307317000214 ...,Размещено: 16.05.2017 ...,True,False
2470,Электронный аукцион ...,№ 0136200003617003243 ...,Размещено: 18.05.2017 ...,True,False
2494,Электронный аукцион ...,№ 0136300015117000080 ...,Размещено: 20.06.2017 ...,True,False

In [182]:
df_auc['auto1'] = [(('автомобил' in i) or ('Автомобил' in i) or ('легково' in i)  ) for i in df_auc.iloc[:,1]]
df_auc['auto2'] = [('услу' in i) for i in df_auc.iloc[:,1]]
df_auc['auto3'] = [(('автобус' in i) or ('Автобус' in i) or ('Микроавтобус' in i) or ('микроавтобус' in i)
                    or ('Самосвалов' in i) or ('самосвал' in i)  or ('тягач' in i)   
                    or ('фургон' in i) or ('грузопассажир' in i) 
                    or ('осуществлять перевозку' in i) 
                    or ('снегоболотоход' in i)
                    or ('осуществлять перевозку' in i) 
                    or ('специализированной техники' in i)
                    or ('УАЗ' in i)
                    or ('ГАЗ' in i)
                    or ('авобуса' in i)
                    or ('Газели' in i)
                    or ('ГАЗели' in i)
                    or ('экскаватора' in i)
                    or ('эвакуатора' in i)
                    or ('СТЕНДА' in i)
                    or ('трактора' in i)
                    or ('дезинфекционного пункта' in i)) for i in df_auc.iloc[:,1]]
df_auc['auto4'] = [(('транспортных средств' in i) or ('транспортного средства' in i)
                   or ('искровым зажиганием' in i)
                   or ('автотранспорт' in i)
                   or ('автомашин' in i)
                   or ('Средства транспортные' in i)
                   or ('транспортные средства' in i)
                   or ('Транспортное средство' in i)
                    or ('движимого имущества' in i)                    
                   ) for i in df_auc.iloc[:,1]]

In [183]:
df_auc['auto'] = df_auc['auto1'] & ~df_auc['auto2']  & ~df_auc['auto3']

In [184]:
df_auc['auto4'] = df_auc['auto4'].replace(True, np.nan).replace(False, 1)

In [185]:
df_auc['auto'] = df_auc['auto'] * df_auc['auto4']

In [189]:
# df_auc['auto_zav'] = df_auc['auto1'] & ~df_auc['auto2']  & ~df_auc['auto3'] &   df_auc['auto3']

In [195]:
df_auc[(df_auc['auto'].isna()) & (df_auc['zav']==False)].index

Int64Index([ 206,  368,  488, 1092, 1346, 1411, 1523, 1545, 1999, 2026, 2085,
            2144, 2224, 2238, 2347, 2396, 2441],
           dtype='int64')

In [196]:
df_auc.loc[df_auc[(df_auc['auto'].isna()) & (df_auc['zav']==False)].index,'auto'] = False

In [197]:
df_auc[(df_auc['auto'].isna()) & (df_auc['zav']==False)].loc[:,'auto']

Series([], Name: auto, dtype: object)

In [198]:
df_auc.to_csv('1_auction_dummy.csv')

In [149]:
df_auc[(df_auc['auto'] != True) & (df_auc['auto3'] != True) &  (df_auc['auto2'] != True) &  (df_auc['auto4'] != True) ].shape

(5, 10)

In [61]:
(df_auc['auto'] != True) & (df_auc['auto3'] == True)

1        True
2       False
3       False
4       False
5       False
        ...
2494    False
2495    False
2496    False
2497    False
2498     True
Length: 2498, dtype: bool

In [210]:
df_auc = pd.read_csv('1_auction_dummy.csv', index_col=0)

In [220]:
df_auc.shape

(2498, 10)

In [221]:
df_auc[df_auc['zav']==False].index.values

array([  71,   80,   84,   86,  108,  109,  111,  113,  115,  120,  151,
        154,  181,  187,  192,  201,  206,  207,  224,  229,  263,  273,
        297,  334,  348,  368,  403,  408,  429,  454,  477,  488,  643,
        644,  696,  752,  857,  873,  899,  961,  966,  991, 1040, 1054,
       1055, 1057, 1064, 1080, 1092, 1115, 1122, 1125, 1128, 1195, 1346,
       1389, 1401, 1411, 1416, 1471, 1495, 1517, 1523, 1533, 1545, 1572,
       1579, 1628, 1645, 1649, 1673, 1692, 1693, 1719, 1736, 1738, 1853,
       1867, 1885, 1940, 1961, 1981, 1991, 1992, 1999, 2026, 2035, 2062,
       2068, 2071, 2076, 2081, 2085, 2088, 2111, 2112, 2119, 2121, 2144,
       2193, 2196, 2224, 2232, 2238, 2243, 2247, 2249, 2252, 2257, 2284,
       2291, 2295, 2314, 2321, 2339, 2340, 2347, 2379, 2396, 2397, 2402,
       2404, 2441, 2454, 2459, 2463, 2470, 2494])